@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 0;
}

.section-m1 {
    margin: 40px 0;
}

body{
    width: 100%;
}

/*Header*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px 0px 80px;
    background-color: #d4d9f1;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: min-content;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #1a1a1a; 
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #969696;
    text-decoration: underline;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    text-decoration: underline;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

i {
    font-size: 30px;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    transition: 0.2s ease;
    position: relative;
    margin: 15px;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: #F2E635;
}

#product1 .pro .des .star-dark {
    color: #606063;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    color: #088178;
    font-size: 20px;
    border-color: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#hero {
    background-image: url(../images/hero-v1.png);
    height: 40vh;
    width: 100%;
    background-position: top 15% right 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1 {
    color: white;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../images/bg-banner-nws-op40.png);
    background-position: 30% 50%;
    background-color: #325D7F;
}

#newsletter div {
    padding: 0 50px;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #e8f6ea;
}

#newsletter span{
    font-size: 14px;
    font-weight: 600;
    color: #ffbd27;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button.normalBt {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.4s;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter button {
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/*Footer*/
footer {
    margin: 0 2vw ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 13px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    cursor: pointer; 
}

footer .follow i:hover,
footer a:hover {
    color: tomato;

}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .colPayment {
    margin: 10px 0 15px 0;
}

footer .copyright > p {
    width: 90vw;
    text-align: center;
}

/*Single Product*/

#proDetails {
    display: flex;
    margin-top: 20px;
}

#proDetails .single-pro-image {
    width: 40%;
    margin: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#proDetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#proDetails .single-pro-details h4 {
    padding: 20px 0 20px 0;
}

#proDetails .single-pro-details h2 {
    font-size: 26px;
}

#proDetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#proDetails .single-pro-details input {
    width: 48px;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#proDetails .single-pro-details button {
    background-color: #088178;
    color: white;
}

#proDetails .single-pro-details input:focus {
    outline: none;
}

#proDetails .single-pro-details span {
    line-height: 25px;
}

/*About Page*/

#page-spacing {
    padding: 0 40px;
}

#page-header {
    background-image: url(../images/banner-v1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2 {
    color: white;
}
#page-header p {
    color: white;
    font-weight: 500;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

/* Contact Page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 14px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 28px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 18px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 16px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 16px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-direction: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: white;
    width: 10%;
    text-align: center;
    padding: 15px;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 15px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

/* Cart Page */

#cart {
    overflow-x: auto;
}
#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 100px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
} 

#cart table tbody td {
    font-size: 14px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
    background-color: #088178;
    color: white;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

/* --- REGISTER PAGE --- */


.register{
    display: flex;
    margin: 30px auto 30px auto;
    width: fit-content;
    align-items: center;
    flex-direction: column;
}

.clientData {
    display: flex;
    margin: 30px auto 30px auto;
    width: auto;
    align-items: start;
    flex-direction: row;
    gap: 8px;
}

.register > .signIn > form > h3 {
    margin-bottom: 20px;
    color: rgb(40, 40, 40);
}

.register > .signIn > form > div > input {
    color: #555;
    padding: 2px;
    margin: 10px auto 10px auto;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

input[id="inputEmail"], input[class="inputEmail"], input[type="password"], input[class="clientData"] {
    border: 1px solid rgb(217, 214, 214);
    border-radius: 5px;
    width: 250px;
    background-color: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    box-shadow: none;
}

input[id="inputEmail"]:hover, input[class="inputEmail"]:hover, input[type="password"]:hover  {
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.06);
}

* input::placeholder {
    color: #bbb
}

input[id="inputEmail"]:focus {
    outline: 0;
}



input[id="inputEmail"]::placeholder, input[class="inputEmail"]::placeholder, input[type="password"]::placeholder {
    color: #bbb;
}

.registerBt {
    background-color: #088178;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    transition: 0.2s ease;
}

.register > .signIn > form > div > button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.093);
    font-weight: 800;
}

.clientAddNumber {
    border: 1px solid rgb(217, 214, 214);
    border-radius: 5px;
    width: 50px;
    background-color: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    box-shadow: none;
}

.register > .registerData > form > h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

select {
    border: 1px solid rgb(217, 214, 214);
    border-radius: 5px;
    background-color: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    box-shadow: none;
}

.divBt {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0 auto 0 auto;
}

.clientInformation {
    display: flex;
    width: 100vw;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#inputPass {
    padding-left: 10px;
}

.clientTitleH1{
    color: #363949;
}

.clientTitleH2 {
    color: #363949;
}

.clientTitleH3 {
    color: #363949;
}

.clientInformation > form > div {
    margin: 10px;
    
}

.clientInformation > form > div > div > span > strong {
    color: #363949;
}

.clientInfo {
    padding: 10px;
}

.clientInfo > h3 {
    margin-bottom: 20px;
    width: 90%;
}

#buttonEdit {
    margin-top: 15px;
}

.clientInfo table{
    background-color: white;
    width: 90%;
    border: 1px  #36394963;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 1rem 2rem #848bc829;
    transition: all 300ms ease;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 10px;
}

.clientInfo table:hover {
    box-shadow: none;
}

.clientInfo table thead tr td {
    font-weight: 600;
    color: #363949d4;
}

.clientInfo table tbody tr:last-child td {
    border: none;
}

.clientInfo table tbody td{
    border-spacing: 3px;
    border-collapse: collapse;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}

.success {
    color: #41f1b6;
}

.pending {
    color: #7380ec;
}

.detailsBt {
    background-color: #088178;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 3px 5px 4px #777db329;
    transition: 0.2s ease;
}

.detailsBt:hover {
    box-shadow: none;
}



/*Start Media Query*/

@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgb(0,0,0.01);
        padding: 70px 0px 0px 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #product1 .pro-container {
        justify-content: center;   
    }

    #product1 .pro {
        margin: 15px;
    }

    #newsletter .form {
        width: 70%;
    }

    #hero {
        display: none;
    }

    /*Contact Page*/

    #page-header {
        height: 200px;
        padding: auto;
    }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 70%;
        padding-bottom: 35px;
    }

    #contact-details .map {
        width: 80%;
        height: 400px;
    }

    #form-details form button {
        background-color: #088178;
        color: white;
        width: 120px;
        text-align: center;
        padding: 15px;
    }

    .people {
        padding-left: 20px;
    }
}

@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
        
    }
    
    #product1 .pro {
        width: 100%;
    }

    #newsletter {
        padding: 20px 5px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .copyright > p {
        text-align: start;
    }

    #hero {
        display: none;
    }

    
    /*Single Product*/

    #proDetails {
        flex-direction: column;
    }

    #proDetails .single-pro-image {
        min-width: 80%;
        margin: 0;
    }

    #proDetails .single-pro-details {
        width: 80%;
        padding-left: 10px;
    }

    #proDetails .single-pro-details button {
        margin-top: 5px;
        font-size: 18px;
    }

    /*About Page*/
    #about-head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about-head img {
        min-width: 80%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0;
    }

    #main-spacing {
        padding: 0;
    }

    /* Contact Page */
    #page-spacing {
        padding: 0 10px;
    }

    #contact-details .map {
        width: 90%;
        height: 400px;
    }

    #form-details {
        flex-direction: column;
        padding: 40px;
        margin: 5px;
    }

    #form-details form {
        width: 100%;
        padding-bottom: 30px;
    }

    .people {
        padding: 0;
    }

    /*Cart Page*/
    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }
}

.form-search {
    color: #555;
    display: flex;
    padding: 2px;
    margin: 10px auto 10px auto;
    justify-content: center;
    align-items: center;
}

input[type="search"] {
    border: 1px solid rgb(217, 214, 214);
    border-radius: 5px;
    width: 400px;
    background-color: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    box-shadow: none;
}

input[type="search"]:hover {
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.06);
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[class="searchBt"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[class="searchBt"]:hover {
    opacity: 1;
  }

  button[class="searchBt"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.input-control span {
    color: black;
}
